<!DOCTYPE html>
<html lang = "en">


 <head>
     <title>AudioEmber</title>
     <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
     <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 </head>  

<body>
    




 <div class = "container">
	<div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" ><a href="artist">Artist</a>
                    </li> 
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="list">Top 50 Songs of All Time</a>
                    </li>
                    <li role="presentation"><a href="list_a">Top 50 Artist of All Time</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Audio Ember</h3>
        </div>
		<h3>{{song}} </h3>
        <div class="jumbotron">
				{%for A in B%}
					{{A.URL|safe}}
				{%endfor%}
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>About Audio Ember</h4>
                <p>Audio Ember is currently under development, all data is from Billboard charts from 2011-2016.</p>
 
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Audio Ember 2016</p>
        </footer>
 
    </div>


  
</body>
                
